@model EntityLayer.Concrete.Book
@{
    ViewData["Title"] = "BookDetailsAll";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<br />
<br />

@*@foreach (var item in Model)
    {
        @item.BookName
        @item.BookID
    }*@
<section id="about-video" class="about-video">
    <div class="container" data-aos="fade-up">
        <div class="row">

            <div class="col-lg-6 video-box align-self-baseline mt-3" data-aos="fade-right" data-aos-delay="100">
                <img src="@Model.BookCoverImage" class="img-fluid" alt="">
            </div>

            <div class="col-lg-6 pt-3 pt-lg-0 content p-4" data-aos="fade-left" data-aos-delay="100">
              
                <div class="row p-3">
                    <table class="table border">
                        <tr>
                            <th>
                                <h5 style="color: #2487CE">Kitap Bilgileri</h5>
                            </th>
                            <th>
                            </th>
                        </tr>
                        <tr>
                            <td>
                                <i class="bx bx-check-double" style="color: #2487CE"></i>
                                Kitap Adı :
                            </td>
                            <td>@Model.BookName</td>
                        </tr>
                        <tr>
                            <td>
                                <i class="bx bx-check-double" style="color: #2487CE"></i>
                                Kitap Yazarı :
                            </td>
                            <td>@Model.BookAuthor</td>
                        </tr>
                        <tr>
                            <td>
                                <i class="bx bx-check-double" style="color: #2487CE"></i>
                                Sayfa Sayısı :
                            </td>
                            <td>@Model.BookPageCount</td>
                        </tr>
                        <tr>
                            <td>
                                <i class="bx bx-check-double" style="color: #2487CE"></i>
                                Yayınevi :
                            </td>
                            <td>@Model.BookPublishingHouse</td>
                        </tr>
                        <tr>
                            <td>
                                <i class="bx bx-check-double" style="color: #2487CE"></i>
                                Kategori :
                            </td>
                            <td>@Model.Category.CategoryName</td>
                        </tr>
                    </table>
                </div>
                <p class="mt-2">@Model.BookAbout</p>
            </div>
        </div>

    </div>
</section><!-- End About Video Section -->
<section id="faq" class="faq section-bg">
    <div class="container" data-aos="fade-up">
        @await Component.InvokeAsync("BookQuoteList", new { id = @Model.BookID })
        <div class="container" data-aos="fade-up">
            <div class="faq-list">
                <div class="section-title">
                    <h2 class="mt-5">KİTAP ALINTISI EKLE</h2>
                </div>
                <form action="/Book/BookQuoteAdd/@Model.BookID" method="post">
                    <textarea class="form-control" name="BookQuoteContent" placeholder="Kitap Alıntınız..." required=""></textarea>
                    <button style="float:right" type="submit" class="btn btn-success pr-4 pl-4 pt-2 pb-2 mt-3"> <i class="fas fa-plus pr-3"></i>Kitap Alıntısı Gönder</button>
                </form>
            </div>
        </div>
    </div>
</section>
