@using EntityLayer.Concrete
@model User
@{
    ViewData["Title"] = "UserInformation";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1>Api İle Kişisel Bilgiler Güncelleme Sayfası</h1>

<form method="post">
    <label>Kullanıcı ID:</label>
    @Html.TextBoxFor(x => x.UserID, new { @class = "form-control" })
    <br />
    @*<label>E-mail:</label>
    @Html.TextBoxFor(x => x.UserMail, new { @class = "form-control" })
    <br />
    <label>Şifre:</label>
    @Html.TextBoxFor(x => x.UserPassword, new { @class = "form-control" })*@
    <br />
    <label>Durum:</label>
    @Html.TextBoxFor(x => x.UserStatus, new { @class = "form-control" })
    <br />
    <label>Resim:</label>
    @Html.TextBoxFor(x => x.UserImage, new { @class = "form-control" })
    <br />
    <label>Kullanıcı Adı:</label>
    @Html.TextBoxFor(x => x.UserName, new { @class = "form-control" })
    <br />
    <label>Kullanıcı Soyadı:</label>
    @Html.TextBoxFor(x => x.UserSurname, new { @class = "form-control" })
    <br />
    <label>Doğum Tarihi:</label>
    @Html.TextBoxFor(x => x.UserDateOfBirth, new { @class = "form-control" })
    <br />
    <label>Şehir:</label>
    @Html.TextBoxFor(x => x.UserCity, new { @class = "form-control" })
    <br />
    <label>Hakkında</label>
    @Html.TextAreaFor(x => x.UserAbout, new { @class = "form-control" })
    <br />
    <button class="btn btn-outline-success">Güncelle</button>
</form>
