@using EntityLayer.Concrete
@model User
@{
    ViewData["Title"] = "UserInformation";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h5 class="m-0 font-weight-bold text-primary">Kişisel Bilgileri Güncelleme Sayfası</h5>
    </div>
    <div class="card-body">
        <form method="post">
            @Html.HiddenFor(x => x.UserID, new { @class = "form-control" })
            @Html.HiddenFor(x => x.UserStatus, new { @class = "form-control" })
            <br />

            <div class="row pt-3">
                <div class="col-lg-6">
                    <label>Kullanıcı Adı:</label>
                    @Html.TextBoxFor(x => x.UserName, new { @class = "form-control" })
                </div>
                <div class="col-lg-6">
                    <label>Kullanıcı Soyadı:</label>
                    @Html.TextBoxFor(x => x.UserSurname, new { @class = "form-control" })
                </div>
            </div>
            <div class="row pt-3">
                <div class="col-lg-6">
                    <label>Doğum Tarihi:</label>
                    @Html.TextBoxFor(x => x.UserDateOfBirth, new { @class = "form-control" })
                </div>
                <div class="col-lg-6">
                    <label>Şehir:</label>
                    @Html.TextBoxFor(x => x.UserCity, new { @class = "form-control" })
                </div>
            </div>
            <div class="row pt-3">
                <div class="col-lg-6">
                    <label>Resim:</label>
                    @Html.TextBoxFor(x => x.UserImage, new { @class = "form-control" })
                </div>
                <div class="col-lg-6">
                    <label>Hakkında</label>
                    @Html.TextAreaFor(x => x.UserAbout, new { @class = "form-control" })
                </div>
            </div>

           
            <br />
            <button class="btn btn-outline-success">Güncelle</button>
        </form>
    </div>
</div>