@model IEnumerable<EntityLayer.Concrete.User>
@{
    ViewData["Title"] = "UserList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    .btn-a {
        border: 2px solid #E3E6F0;
        background-color: transparent;
        color: #E3E6F0;
        color: #000;
    }

        .btn-a:hover {
            background-color: #E3E6F0;
            color: #000;
        }
</style>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <div class="row">
            <div class="col-sm-6">
                <h6 class="m-0 font-weight-bold text-primary mt-2">KİTAP ETKİNLİKLERİ</h6>
            </div>
            <div class="col-sm-6">
                <a href="/ReadingActivity/Index/" class="btn btn-secondary btn-icon-split mr-3" style="float:right">
                    <span class="icon text-white-50">
                        <i class="fas fa-arrow-circle-right"></i>
                    </span>
                    <span class="text">Kitap Etkinliği Sayfasını Görüntüle</span>
                </a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="dropdown show mb-2 col-lg-2">
                <a class="btn btn-a form-control dropdown-toggle" href="#" role="button" id="sortDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sırala
                </a>
                <div class="dropdown-menu" aria-labelledby="sortDropdown">
                    <a class="dropdown-item" href="?sort=ActivityNameASC">Etkinlik Adı (A-Z)</a>
                    <a class="dropdown-item" href="?sort=ActivityNameDESC">Etkinlik Adı (Z-A)</a>
                    <a class="dropdown-item" href="?sort=BookNameASC">Kitap Adı (A-Z)</a>
                    <a class="dropdown-item" href="?sort=BookNameDESC">Kitap Adı (Z-A)</a>
                    <a class="dropdown-item" href="?sort=BookPageCountASC">Sayfa Sayısı (Azdan Çoğa)</a>
                    <a class="dropdown-item" href="?sort=BookPageCountDESC">Sayfa Sayısı (Çoktan Aza)</a>
                    <a class="dropdown-item" href="?sort=StartDateASC">Etkinlik Başlangıç Tarihi (Yeni-Eski)</a>
                    <a class="dropdown-item" href="?sort=StartDateDESC">Etkinlik Başlangıç Tarihi (Eski-Yeni)</a>
                    <a class="dropdown-item" href="?sort=FinishDateASC">Etkinlik Bitiş Tarihi (Yeni-Eski)</a>
                    <a class="dropdown-item" href="?sort=FinishDateDESC">Etkinlik Bitiş Tarihi (Eski-Yeni)</a>
                </div>
            </div>
            <div class="form-group  col-lg-2">
                <input type="text" id="searchInput" class="form-control" placeholder="Ara...">
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Kullanıcı Ad Soyad</th>
                        <th>Email</th>
                        <th>Doğum Tarihi</th>
                        <th>Şehir</th>
                        <th>Hakkında</th>
                        <th>Aktif/ Pasif</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.UserName @item.UserSurname</td>
                            <td>@item.UserMail</td>
                            <td>@item.UserDateOfBirth.ToString("dd MMMM yyyy")</td>
                            <td>@item.UserCity</td>
                            <td>@item.UserAbout</td>
                            @if (@item.UserStatus == true)
                            {
                                <td>
                                    <a href="/User/UserStatusChange/@item.UserID" class="btn btn-success btn-circle">
                                        <i class="fas fa-minus"></i>
                                    </a>
                                </td>
                            }
                            else
                            {
                                <td>
                                    <a href="/User/UserStatusChange/@item.UserID" class="btn btn-danger btn-circle">
                                        <i class="fas fa-plus"></i>
                                    </a>
                                </td>

                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            $("#searchInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("table tbody tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
}

