@model GroupProject.Models.AddUserImage

@{
    ViewData["Title"] = "Index";
    Layout = null;
}

<style>
    .bg-register-image {
        background: url("https://img.freepik.com/free-vector/mobile-browsers-concept-illustration_114360-1267.jpg") !important;
    }

    .bg-gradient-primary {
        background-color: #aed6f1 !important;
        background-image: linear-gradient(180deg, #aed6f1 10%, #aed6f1 100%) !important;
    }

    .alert {
        border-radius: 0.25rem;
    }
</style>

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Register</title>

    <!-- Custom fonts for this template-->
    <link href="~/AdminTema/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/AdminTema/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary" style="height:90vh !important">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5" style="margin-top:10vh !important">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900" style="font-size: 2.3rem; color: #4D72DF !important">
                                    <b><i class="fas fa-user"></i> Hesap Oluştur</b>
                                </h1>
                            </div>
                            <hr />

                            @using (Html.BeginForm("Index", "Register", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                <form class="user">
                                    <br />
                                    <div class="form-group row">
                                        <div class="form-outline col-lg-6">
                                            <label for="validationCustom01">Ad</label>
                                            @Html.TextBoxFor(x => x.User.UserName, new { @class = "form-control form-control-md", required = "required" })
                                            @Html.ValidationMessageFor(x => x.User.UserName, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-outline col-lg-6">
                                            <label for="validationCustom02">Soyad</label>
                                            @Html.TextBoxFor(x => x.User.UserSurname, new { @class = "form-control form-control-md", required = "required" })
                                            @Html.ValidationMessageFor(x => x.User.UserSurname, "", new { @class = "text-danger" })

                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="form-outline col-lg-6">
                                            <label for="validationCustom03">Doğum Tarihi</label>
                                            @Html.TextBoxFor(x => x.User.UserDateOfBirth, new { @class = "form-control form-control-md", type = "date", required = "required" })
                                            @Html.ValidationMessageFor(x => x.User.UserDateOfBirth, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-outline col-lg-6">
                                            <label for="validationCustom04">Şehir</label>
                                            @Html.DropDownListFor(x => x.User.UserCity, ViewBag.Cities as List<SelectListItem>, "Seçiniz", new { @class = "form-control" })
                                            @Html.ValidationMessageFor(x => x.User.UserCity, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="form-outline col-lg-6">
                                            <label for="validationCustom05">E-mail</label>
                                            @Html.TextBoxFor(x => x.User.UserMail, new { @class = "form-control form-control-md", required = "required", type = "mail" })
                                            @Html.ValidationMessageFor(x => x.User.UserMail, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-outline col-lg-6">
                                            <label for="validationCustom06">Şifre</label>
                                            @Html.TextBoxFor(x => x.User.UserPassword, new { @class = "form-control form-control-md", required = "required", type = "password" })
                                            @Html.ValidationMessageFor(x => x.User.UserPassword, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="form-outline col-lg-6">
                                            <label for="validationCustom07">Hakkında</label>
                                            @Html.TextBoxFor(x => x.User.UserAbout, new { @class = "form-control form-control-md", required = "required" })
                                            @Html.ValidationMessageFor(x => x.User.UserAbout, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-lg-6">
                                            <label for="validationCustom07">Kullanıcı Görseli</label>
                                            @Html.TextBoxFor(x => x.UserImage, new { @class = "form-control", required = "required", type = "file" })
                                        </div>
                                    </div>
                                    <div class="text-center text-lg-start mt-4 pt-2">
                                        <button type="submit" class="btn btn-primary submit btn-group-lg" style="font-size: 1.4rem">
                                            Kayıt Ol
                                        </button>
                                    </div>
                                </form>
                            }
                            <hr>
                            <div class="text-center">
                                <a class="small" href="forgot-password.html">Şifremi unuttum.</a>
                            </div>
                            <div class="text-center">
                                <a class="small" href="/Login/Index/">Zaten bir hesabın var mı? Giriş Yap.</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="~/AdminTema/vendor/jquery/jquery.min.js"></script>
    <script src="~/AdminTema/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/AdminTema/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/AdminTema/js/sb-admin-2.min.js"></script>

</body>
</html>