@model EntityLayer.Concrete.ContactInformation
@{
    ViewData["Title"] = "EditContact";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    .col-lg-6 label, .col-lg-4 label, .col-lg-8 {
        color: black;
        font-weight: bold;
    }

    hr {
        border: none;
        border-top: 1px solid #2370FB;
        margin: 10px 0;
    }
</style>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h5 class="m-0 font-weight-bold text-primary">HAKKIMDA BİLGİLERİ GÜNCELLE </h5>
    </div>
    <div class="card-body">
        @using (Html.BeginForm("EditContact", "Contact", FormMethod.Post))
        {
            @Html.HiddenFor(x => x.ContactInformationID, new { @class = "form-control" })
            <br />

            <div class="row pt-3">
                <div class="col-lg-6">
                    @Html.Label("Ana Başlık")
                    @Html.TextBoxFor(x => x.MainTitle, new { @class = "form-control", required = "required" })
                </div>
                <div class="col-lg-6">
                    @Html.Label("Alt Başlık")
                    @Html.TextBoxFor(x => x.SubTitle, new { @class = "form-control", required = "required" })
                </div>
            </div>
            <div class="row pt-3">
                <div class="col-lg-6">
                    @Html.Label("Adres Bilgisi")
                    @Html.TextBoxFor(x => x.Address, new { @class = "form-control", required = "required" })
                </div>
                <div class="col-lg-6">
                    @Html.Label("Email Bilgisi")
                    @Html.TextBoxFor(x => x.Email, new { @class = "form-control", required = "required" })
                </div>
            </div>
            <div class="row pt-3">
                <div class="col-lg-6">
                    @Html.Label("Telefon Numarası")
                    @Html.TextBoxFor(x => x.TelephoneNumber, new { @class = "form-control", required = "required" })
                </div>
                <div class="col-lg-6">
                    @Html.Label("Konum Bilgisi")
                    @Html.TextBoxFor(x => x.Location, new { @class = "form-control", required = "required" })
                </div>
            </div>
            <div class="pt-3">
                <button class="btn btn-success pr-4 pl-4 pt-2 pb-2" style="float:right; font-size: 20px"> <i class="fas fa-edit pr-3"></i>GÜNCELLE</button>
            </div>
        }
    </div>
</div>




