@model IEnumerable<EntityLayer.Concrete.ReadBook>
@{
    ViewData["Title"] = "BooksIRead";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <div class="row">
            <div class="col-sm-6">
                <h6 class="m-0 font-weight-bold text-primary mt-2">OKUDUĞUM KİTAPLAR AJANDASI</h6>
            </div>
            <div class="col-sm-6">
                <a href="/ReadBook/BookAdd/" class="btn btn-success btn-icon-split mr-3" style="float:right">
                    <span class="icon text-white-50">
                        <i class="fas fa-plus"></i>
                    </span>
                    <span class="text">YENİ KİTAP EKLE</span>
                </a>
            </div>
        </div>
    </div>
    <div class="card-body">       
        <div class="row">
            <div class="col-lg-2 pb-2">
                <select class="select" onchange="" aria-haspopup="true" aria-expanded="false" id="filter">
                    <option value=1>Okunan Tarihe Göre Artan</option>
                    <option value=2>Okunan Tarihe Göre Azalan</option>
                    <option value=3>Kitap Adına Göre A-Z</option>
                    <option value=4>Kitap Adına Göre Z-A</option>
                </select>
            </div>
            <div class="col-lg-10"></div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Kitap Adı</th>
                        <th>Yazar</th>
                        <th>Sayfa Sayısı</th>
                        <th>Yayınevi</th>
                        <th>Kategori</th>
                        <th>Okuma Başlangıç Tarihi</th>
                        <th>Okuma Bitiş Tarihi</th>
                        <th>Kaç Günde Okundu</th>
                        <th>Kitap Puanı</th>
                        <th>Notlar / Değerlendirmler</th>
                        <th>Güncelle</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Book.BookName</td>
                            <td>@item.Book.BookAuthor</td>
                            <td>@item.Book.BookPageCount</td>
                            <td>@item.Book.BookPublishingHouse</td>
                            <td>@item.Book.Category.CategoryName</td>
                            <td>@item.ReadingDate.ToString("dd MMMM yyyy")</td>
                            <td>@item.CompletionDate.ToString("dd MMMM yyyy")</td>
                            <td>@((item.CompletionDate-item.ReadingDate).Days)</td>
                            <td>@item.ReadBookReviewPoint</td>
                            <td>@item.Description</td>
                            <td><a href="/ReadBook/EditBook/@item.ReadBookID" class="btn btn-primary">Güncelle</a></td>
                            @*<td>@Html.ActionLink("Güncelle", "EditBook", new { id = item.ReadBookID })</td>*@
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>