@model IEnumerable<EntityLayer.Concrete.ReadBook>

@{
    ViewData["Title"] = "BooksIWillRead";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <div class="row">
            <div class="col-sm-6">
                <h6 class="m-0 font-weight-bold text-primary mt-2">OKUYACAĞIM KİTAPLAR AJANDASI</h6>
            </div>
            <div class="col-sm-6">
                <a href="#" class="btn btn-success btn-icon-split mr-3" style="float:right">
                    <span class="icon text-white-50">
                        <i class="fas fa-plus"></i>
                    </span>
                    <span class="text">YENİ KİTAP EKLE</span>
                </a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Kitap Adı</th>
                        <th>Yazar</th>
                        <th>Sayfa Sayısı</th>
                        <th>Yayınevi</th>
                        <th>Kategori</th>
                        <th>Listeye Eklenen Tarih</th>
                        <th>Güncelle</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Book.BookName</td>
                            <td>@item.Book.BookAuthor</td>
                            <td>@item.Book.BookPageCount</td>
                            <td>@item.Book.BookPublishingHouse</td>
                            <td>@item.Book.Category.CategoryName</td>
                            <td>@item.ReadingDate</td>
                            <td><button class="btn btn-primary">Güncelle</button></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>