@model IEnumerable<EntityLayer.Concrete.Comment>
<div class="section-title">
    <h2>YORUMLAR</h2>
</div>
<div class="faq-list">
    <ul>
        @foreach (var item in Model)
        {
        <li>
            <div class="row">
                <div class="col-sm-8"><h4 style="color: #2487CE; font-size: 1.5rem">@item.User.UserName @item.User.UserSurname </h4></div>
                <div class="col-sm-4"><h6 style="text-align:right">@item.CommentDate.ToString("dd MMMM yyyy") / @item.CommentDate.ToString("HH:mm")</h6></div>
            </div>


            <div>
                <p style="color:black">@item.CommentContent</p>
            </div>
        </li>
        }
    </ul>
</div>