@model EntityLayer.Concrete.Dto.Statistic
<section id="counts" class="counts section-bg">
    <div class="container">

        <div class="row justify-content-end">

            <div class="col-lg-2 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box">
                    <span data-purecounter-start="0" data-purecounter-end="@Model.Deger1" data-purecounter-duration="2" class="purecounter"></span>
                    <p>Aktif Kullanıcı Sayısı</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box">
                    <span data-purecounter-start="0" data-purecounter-end="@Model.Deger2" data-purecounter-duration="2" class="purecounter"></span>
                    <p>Aktif Etkinlik Sayısı</p>
                </div>
            </div>

            <div class="col-lg-2 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box">
                    <span data-purecounter-start="0" data-purecounter-end="@Model.Deger3" data-purecounter-duration="2" class="purecounter"></span>
                    <p>Etkinliklere Toplam Katılan Kullanıcı</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box">
                    <span data-purecounter-start="0" data-purecounter-end="@Model.Deger4" data-purecounter-duration="2" class="purecounter"></span>
                    <p>Yorum Sayısı</p>
                </div>
            </div>

            <div class="col-lg-2 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box">
                    <span data-purecounter-start="0" data-purecounter-end="@Model.Deger5" data-purecounter-duration="2" class="purecounter"></span>
                    <p>Alıntı Sayısı</p>
                </div>
            </div>
        </div>
    </div>
</section>