@model EntityLayer.Concrete.About

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}


    <section id="hero" class="d-flex align-items-center">
        <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
            <div class="row justify-content-center">
                <div class="col-xl-7 col-lg-9 text-center">
                    <h1>Kiitaphane</h1>
                    <h2>@Model.MainTitle</h2>
                </div>
            </div>
            <div class="text-center">
                <a href="#about" class="btn-get-started scrollto">Hadi Başlayalım</a>
            </div>

            <div class="row icon-boxes">
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="200">
                    <div class="icon-box">
                        <div class="icon"><i class="ri-book-fill"></i></div>
                        <h4 class="title"><a href="">@Model.CardTitle1</a></h4>
                        <p class="description">@Model.CardDescription1</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="300">
                    <div class="icon-box">
                        <div class="icon"><i class="ri-star-fill"></i></div>
                        <h4 class="title"><a href="">@Model.CardTitle2</a></h4>
                        <p class="description">@Model.CardDescription2</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="400">
                    <div class="icon-box">
                        <div class="icon"><i class="ri-user-3-fill"></i></div>
                        <h4 class="title"><a href="">@Model.CardTitle3</a></h4>
                        <p class="description">@Model.CardDescription3</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="500">
                    <div class="icon-box">
                        <div class="icon"><i class="ri-bookmark-fill"></i></div>
                        <h4 class="title"><a href="">@Model.CardTitle4</a></h4>
                        <p class="description">@Model.CardDescription4</p>
                    </div>
                </div>

            </div>
        </div>
    </section><!-- End Hero -->

    <main id="main">

        <!-- ======= About Section ======= -->
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Hakkımızda</h2>
                    <p>Site hakkında genel bilgiler</p>
                </div>
                <div class="row">
                    <div class="col-lg-6 video-box align-self-baseline" data-aos="fade-right" data-aos-delay="100">
                        <img src="@Model.AboutSmallImage1" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-6 pt-3 pt-lg-0 content p-5" data-aos="fade-left" data-aos-delay="100">
                        <h3>Bu Sitede Neler Var?</h3>
                        <p class="fst-italic">
                            @Model.AboutDetails1
                        </p>
                        <ul>
                            <li><i class="bx bx-check-double"></i> @Model.CardTitle1</li>
                            <li><i class="bx bx-check-double"></i>  @Model.CardTitle2</li>
                            <li><i class="bx bx-check-double"></i>  @Model.CardTitle3</li>
                            <li><i class="bx bx-check-double"></i>  @Model.CardTitle4</li>
                        </ul>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-lg-6 pt-3 pt-lg-0 content p-5" data-aos="fade-left" data-aos-delay="100">
                        <h3>Bu Sitede Neler Olacak?</h3>
                        <p class="fst-italic">
                            @Model.AboutDetails2
                        </p>
                    </div>
                    <div class="col-lg-6 video-box align-self-baseline" data-aos="fade-right" data-aos-delay="100">
                        <img src="@Model.AboutSmallImage2" class="img-fluid" alt="">
                    </div>
                </div>

            </div>
        </section><!-- End About Section -->
        <!-- ======= Counts Section ======= -->
        <section id="counts" class="counts section-bg">
            <div class="container">

                <div class="row justify-content-end">

                    <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                        <div class="count-box">
                            <span data-purecounter-start="0" data-purecounter-end="65" data-purecounter-duration="2" class="purecounter"></span>
                            <p>Kitap Etkinliği (Aktif)</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                        <div class="count-box">
                            <span data-purecounter-start="0" data-purecounter-end="85" data-purecounter-duration="2" class="purecounter"></span>
                            <p>Aktif Kullanıcı</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                        <div class="count-box">
                            <span data-purecounter-start="0" data-purecounter-end="30" data-purecounter-duration="2" class="purecounter"></span>
                            <p>Okunan Kitap</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                        <div class="count-box">
                            <span data-purecounter-start="0" data-purecounter-end="20" data-purecounter-duration="2" class="purecounter"></span>
                            <p>Tamamlanmış Kitap Etkinliği</p>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End Counts Section -->
        @await Component.InvokeAsync("FamousQuotes") 
        <section id="clients" class="clients section-bg">
            <div class="container"></div>
        </section><!-- End Clients Section -->
    </main>
